.root {
    width: 100%;
    height: 100%;
}
.mainCard {
    position: relative;
    width: 100%;
    height: 580px;
    overflow: hidden;
}
.cardImage {
    width: 100%;
    height: 100%;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.2); 
        }
    }
}
.cardContent {
    padding: 30px;
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;
    h2{
        color: #ed59a0;
        font-size: 18px;
    }
    h1{
        color: #ed59a0;
        font-size: 55px;
        font-weight: 700;
        line-height: 1;
        margin: 15px 0;
        text-transform: uppercase;
    }
    p{
        color: #000;
        font-size: 24px;
        letter-spacing: 4.3px;
        line-height: 1;
        margin: 0 0 36px;
    }
}
