.input{
    background: transparent;
    border: none;
    border-bottom: 2px solid #e2e2e2;
    color: #333;
    height: 46px;
    text-align: center;
    font-size: 14px;
    width: 100%;
    padding-left: 10px;
    outline: none;
}
.subscribe{
    color: #010101;
    font-size: 48px;
    font-weight: 400;
}
.under{
    color: dimgray;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}