.btn{
    color: inherit;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid #333;
    color: #010101;
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    padding: 19px 50px;
    text-transform: uppercase;
    &.login{
        background-color: #f2f2f2;
        border: none;
        color: #333;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        padding: 11px 30px;
        text-transform: uppercase;
    }
    &.primary{
        color: white;
        background-color: #007bff;
        border: 1px solid #007bff;
    }
    &.secondary{
        color: black;
        background-color: red;
    }
    &:hover{
        cursor: pointer;
    }
    &:focus{
        outline: none;
    }
    &:disabled{
        opacity: 0.5;
        cursor: not-allowed;
    }
    &.success{
        color: white;
        background-color: green;
    }
    &.light{
        color: black;
        background-color: #ebe2e1;
    }
    &.pink{
        background-color: #ed59a0;
        color: #fff;
        display: inline-block;
        font-size: 14px;
        line-height: 1;
        padding: 13px 33px;
        text-transform: uppercase;
        border: none;
    }
    &.subscribe{
        background-color: #ed59a0;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-weight: 500;
        height: auto;
        letter-spacing: 2px;
        line-height: 1;
        padding: 17px 55px;
        text-transform: uppercase;
        width: auto;
    }

}